 *{
        color: white
    }
    *{
    font-family: Arial, Helvetica, sans-serif;
    
    }
    h2 {
        color: yellow;
    }
  .div-header {
    background: #07152d;
  }
  .div-1 {
    background: #052968;
  }
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #00102c;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

.div-header {
    background: #030d1d;
    margin: 0;
    padding: 0;
    line-height: 18px;
    width: 100%;
}
.div-header,
.parent{
    margin: 0 auto;
    max-width: 1327px;
}

.div-1 {
    background: #00102c;
    margin: 0;
    padding: 0;
}
.div-1 button{
    color: black;
    display: flex;
}
.title{
    display: flex;
    align-items:flex-end;
    gap: 10px;
}
.menu{
list-style: none;
display: flex;
gap:30px;
line-height: 10px;
padding-top: 10px;
padding-left: 134px;
position: relative;
z-index: 100;
}
.menu-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
}
.menu-link:hover{
    color: yellow;
    border-bottom: 3px solid yellow;
    transition: all .25s ease;
}
select{
    background-color: #0f1f3a;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    border: 2px solid white;
    width: 70px;
    cursor: pointer;
    position: relative;
    left: 12px;
}
select:hover{
    background-color: #f1ee14;
    transition: all .25s ease;
}

.div-header li:nth-child(7){
    margin-left: 60px;
    margin-right: 30px;
    margin-top: -10px;
}

.div-header{
    width: 100%;
    max-width: 100%;
    margin: 0px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.div-header img{
    width: 180px;
    height: auto;
}
.clas-2 h2,
.clas-2 h1{
    margin: 0;
    display: inline-flex;
    color: yellow;
}
.clas-2{
    height: 100px;
}
input::placeholder,
textarea::placeholder{
    color: #0f1f3a;
}
.parent{
    margin-top: 0px;
    background-color: #00102c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    gap: 40px;
}

.child{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10pz;
    height: 100px;
    font-size: 36px;

}
.clas-3 button{
    color: rgb(17, 17, 17);
}
.child-1{
    flex: 1;
}

.parent{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;

    padding:40px 30px;
    background:#00102c;
}

.child-1{
    flex:1;
    min-width: 300px;
}

.child-2{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.city{
    width:100%;
    max-width:330px;
    height:auto;
}

.child-3{
    width:300px;
    flex-shrink:0;
}


 #register-message{
    margin-top:15px;
    font-size:18px;
    font-weight:bold;
    text-align:center;
}

.search{
    background-color: #0f1f3a;
    color: black;
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    border: 2px solid rgb(209, 19, 45);
    cursor: pointer;
}
.search{
    background-color: #dee90d;
}

.title{
    position: relative;
}

#search-results{
    position: absolute;
    top: 45px;
    left: 0;
    width:320px;
    z-index:1000;
}

.result-card{
    background:#6f94e6;
    color:white;
    border-radius:15px;
    padding:15px;
    margin-bottom:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.3);
}

.result-card h3{
    color:#FFD400;
    margin:0 0 10px;
}

.result-card p{
    margin:4px 0;
}



.child-3{
    background-color: #0f1f3a;
    color: white;
    border-radius: 15px;
    padding: 5px 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.button{
    color: black;
    position: relative;
    z-index: 100;
}
.Deutschland-video{
    background-color: #0f1f3a;
    color:white;
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
    width: 220px;
}
.Deutschland-video:hover{
    background-color: yellow;
    color: black;
    transition: all .25s ease;
}
.a.Deutschland-video,
.input{
    z-index: 100;
}
.child-4 img,
.child-4 li{
    display: inline;
    width: 200px;
    height: 127px;
}
.child-4 img{
    width: 100px;
    height: 100px;
}
.child-4 li{
    position: relative;
    top: 10px;
    left: 10px;
}
.child-4{
    background-color:#0f1f3a ;
    width: 300px;
    height: 128px;
    border-radius: 15px;
    display: flex;
    padding-left: 0;
}
.child-4:hover{
transform:translateY(20px)
}

.payments-page{

width:1000px;

margin:40px auto;

}

.payments-page h1{

color:white;

margin-bottom:35px;

text-align:center;

}

.payment-card{

display:flex;

align-items:center;

background:#1d3157;

border-radius:18px;

padding:25px;

margin-bottom:25px;

box-shadow:0 10px 25px rgba(0,0,0,.3);

transition:.3s;

}

.payment-card:hover{

transform:translateY(-6px);

}

.payment-icon{

font-size:55px;

margin-right:25px;

}

.payment-info{

flex:1;

}

.payment-info h2{

color:#FFD400;

margin-bottom:10px;

}

.payment-info p{

color:white;

font-size:18px;

line-height:1.6;

}

.payment-info button{

margin-top:20px;

background:#FFD400;

border:none;

padding:12px 30px;

border-radius:12px;

font-weight:bold;

cursor:pointer;

}
.payment-btn{
    display:inline-block;
    margin-top:20px;
    background:#FFD400;
    color:#061531;
    text-decoration:none;
    padding:12px 30px;
    border-radius:12px;
    font-weight:bold;
}

.child-5 img,
.child-5 li{
    display: inline;
    width: 200px;
    height: 127px;
}
.child-5 img{
    width: 90px;
    height: 100px;
}
.child-5 li{
    position: relative;
    top: 10px;
    left: 10px;
}
.child-5{
    background-color:#0f1f3a ;
    width: 300px;
    height: 128px;
    border-radius: 15px;
    display: flex;
}

.child-5:hover{
transform:translateY(20px)
}

.child-6 img,
.child-6 li{
    display: inline;
    width: 200px;
    height: 80px;
}
.child-6 img{
    width: 90px;
    height: 100px;
}
.child-6 li{
    position: relative;
    top: 10px;
    left: 10px;
}
.child-6{
    background-color:#0f1f3a ;
    width: 300px;
    height: 128px;
    border-radius: 15px;
    display: flex;
}

.child-6:hover{
transform:translateY(20px)
}


.page-title{

text-align:center;
color:#FFD400;
margin-top:40px;
font-size:42px;

}

#terms-container{

width:900px;
margin:40px auto;

}

.result-card{

background:#18335f;
padding:25px;

border-radius:20px;

margin-bottom:20px;

color:white;

box-shadow:0 5px 15px rgba(0,0,0,.3);

}

.result-card h2{

color:#FFD400;
margin-bottom:15px;

}

.result-card p{

font-size:20px;

margin:10px 0;

}

.card-link{
    text-decoration: none;
    color: inherit;
}

.child-6{
    cursor: pointer;
}

.child-7 img,
.child-7 li{
    display: inline;
    width: 200px;
    height: 80px;
}
.child-7 img{
    width: 90px;
    height: 100px;
}
.child-7 li{
    position: relative;
    top: 10px;
    left: 10px;
}
.child-7{
    background-color:#0f1f3a ;
    width: 309px;
    height: 128px;
    border-radius: 15px;
    display: flex;
}
.child-7:hover{
transform:translateY(20px)
}

.child-4 ul,
.child-5 ul,
.child-6 ul,
.child-7 ul{
padding: 0;
margin: 0;
}
.child-8 img,
.child-8 li{
    display: inline;
}

.child-8{
    background-color:#0f1f3a ;
    width: 370px;
    height: 170px;
    border-radius: 15px;
}
.child-8 li {
 position: relative;
 top: -60px;
 left: 48px;
 width: 100px;
 height: 100px;
}
.child-8 img{
    position: relative;
    top: 31px;
    left: -11px;
    width: 96px;
}
.Open{
    background-color: #0f1f3a;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
    width: 200px;

}

.child-9 img,
.child-9 li{
    display: inline;
}

.child-9{
    background-color:#0f1f3a ;
    width: 370px;
    height: 170px;
    border-radius: 15px;
}
.child-9 img,
.child-9 li {
 display: inline;
}
.child-9 li {
 position: relative;
 top: -82px;
 left: 48px;
}
.child-9 img{
    position: relative;
    top: 10px;
    left: -30px;
    width: 126px;
}

.Open{
    background-color: #0f1f3a;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
    width: 200px;
}

.child-10 img,
.child-10 li{
    display: inline;
}

.child-10{
    background-color:#0f1f3a ;
    width: 370px;
    height: 170px;
    border-radius: 15px;
}
.child-10 img,
.child-10 li {
 display: inline;
}
.child-10 li {
 position: relative;
 top: -82px;
 left: 48px;
}
.child-10 img{
    position: relative;
    top: 10px;
    left: -30px;
    width: 126px;
}

.child-10{
    cursor: pointer;
    transition: 0.3s;
}

/* .child-10:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,.4);
} */
.Open{
    background-color: #0f1f3a;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
    width: 200px;
    position: relative;
    top: -65px;
    left: 233px;
}



.todo-box{
    width:700px;
    margin:60px auto;
    background:#10244d;
    padding:40px;
    border-radius:25px;
    color:white;
    box-shadow:0 0 25px rgba(0,0,0,.4);
}

.todo-box h1{
    text-align:center;
    color:#FFD400;
    margin-bottom:30px;
}

.todo-input-box{
    display:flex;
    gap:10px;
}

#todo-input{
    flex:1;
    padding:15px;
    border-radius:12px;
    border:none;
    font-size:18px;
}

#add-task-btn{
    padding:15px 25px;
    border:none;
    border-radius:12px;
    background:#FFD400;
    font-weight:bold;
    cursor:pointer;
}

#todo-list{
    list-style:none;
    padding:0;
    margin-top:30px;
}

#todo-list li{
    background:#1d3c74;
    margin-bottom:15px;
    padding:18px;
    border-radius:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
}

#todo-list li.done span{
    text-decoration:line-through;
    opacity:.6;
}

.delete-btn{
    background:#ff3b3b;
    color:white;
    border:none;
    border-radius:10px;
    padding:8px 12px;
    cursor:pointer;
}


.form button{
    color: black !important;
    background-color: white;
}

.box-container-1{
    display: grid;
    grid-template-columns: repeat(4, 330px);
    padding-left: 10px;
    padding-right: 10px;
   
}
.child{
    width: 180px;
    height: 100px;
    margin-bottom: 18px;
}

.box-container-2{
     display: grid;
    grid-template-columns: repeat(3, 460px);
    height: 176px;
    padding-left: 10px;
    padding-right: 10px;
}






.calculator{

width:500px;

margin:40px auto;

background:#0f274d;

padding:30px;

border-radius:20px;

color:white;

}

.calculator input,
.calculator select{

width:100%;

padding:12px;

border-radius:10px;

border:none;

margin-top:5px;

margin-bottom:15px;
background-color: #6f94e6;

}

#calculate-btn{

width:100%;

padding:15px;

border:none;

background:#FFD400;

font-size:18px;

font-weight:bold;

border-radius:15px;

cursor:pointer;

}

#result{

margin-top:30px;

font-size:20px;

line-height:2;

}

.calculator{

    width:600px;
    margin:40px auto;
    padding:30px;

    background:#0f274d;

    color:white;

    border-radius:20px;

}

.progress-box{
    margin-bottom:30px;
}

.progress-text{
    color:white;
    font-size:18px;
    margin-bottom:10px;
}

.progress{
    width:100%;
    height:12px;
    background:#29456d;
    border-radius:20px;
    overflow:hidden;
}

.progress-bar{
    width:25%;
    height:100%;
    background:#FFD400;
    transition:0.5s;
}
.benefit{

background:#29456d;

padding:18px;

border-radius:15px;

margin-top:20px;

color:white;

border-left:6px solid #FFD400;

}

.benefit h3{

margin-bottom:8px;

color:#FFD400;

}

.benefit p{

font-size:16px;

line-height:1.5;

}





.documents{

width:900px;

margin:40px auto;

}

.documents h1{

text-align:center;

margin-bottom:40px;

color:white;

}

.document-card{

background:#29456d;

padding:25px;

border-radius:18px;

margin-bottom:25px;

color:white;

box-shadow:0 10px 25px rgba(0,0,0,.3);

transition:.3s;

}

.document-card:hover{

transform:translateY(-5px);

}

.document-card h2{

color:#FFD400;

margin-bottom:10px;

}

.document-card button{

margin-top:20px;

background:#FFD400;

border:none;

padding:12px 25px;

border-radius:12px;

font-weight:bold;

cursor:pointer;

}
.child-5{

    cursor: pointer;

    transition: 0.3s;

}

/* .child-5:hover{

    transform: translateY(-6px);

    box-shadow: 0 12px 30px rgba(0,0,0,0.3);

} */
 /* #search-results{

margin-top:20px;

display:flex;

flex-direction:column;

gap:15px;

}

.result-card{

background:white;

padding:15px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.2);

color:black;

cursor:pointer;

transition:.3s;

}

.result-card:hover{

transform:translateY(-3px);

} */